@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    1907 Miller Ave<br />
    Ann Arbor, MI 48103<br />
</address>

<address>
    
    <a href="https://github.com/justindcoleman" target="_blank">Github!</a><br />
    <a href="https://www.linkedin.com/nhome/" target="_blank">LinkedIn!</a><br />
    <a href="mailto:justindwaynecoleman@gmail.com">justindwaynecoleman@gmail.com</a><br />
    
</address>