@{
    ViewBag.Title = "Justin Coleman";
}

<div class="jumbotron">
    <p><h4>Junior back end developer looking for an entry level position that will enable to me grow my skills while making quality software.</h4></p>
</div>

<div class="row">
    <div class="col-md-3">
        <p>
        </p>
    </div>
    <div class="col-md-6">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p class="intro">
            Trained in C#/.NET stack, SQL transact & Database implementation, with some self-taught Python knowledge.  Familiar with modern development methodologies such as TDD & RAD which I am looking forward to seeing how an experienced team puts into action.
        </p>
    </div>
    <div class="col-md-3">
        <p></p>
    </div>
</div>