body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* altering jumbotron from bootstrap*/
.jumbotron {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 180;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #ffffff;
    .resumeBlockCurrent;

{
    color: white;
}

.resumeBlockOlder {
    color: white;
}

.proTrain {
    color: grey;
}

ol, li {
    font-family: Garamond;
    color: grey;
}

h3 {
    color: white;
}

body {
    text-align: left;
    font-family: Garamond;
